Repository shinGangan/nuxt-config-website, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏠 chore, 🚀 Feature, 📝 documentation

docs: write README.md
  README.md
Labels: 📝 documentation

chore(ci): fix status dropdown
  .github/ISSUE_TEMPLATE/02-Roadmap.yml
  .github/ISSUE_TEMPLATE/03-ADR.yml
Labels: 🏠 chore

fix: ln
  packages/README.md
Labels: 🚀 Feature, 📝 documentation

docs: write README.md (#19)
  .github/ISSUE_TEMPLATE/02-Roadmap.yml
  .github/ISSUE_TEMPLATE/03-ADR.yml
  README.md
  packages/README.md
Labels: 🏠 chore, 🚀 Feature, 📝 documentation

feat: add `Nuxt Sitemap` (#7)
  packages/nuxt.config.ts
  packages/package.json
  pnpm-lock.yaml
Labels: 🚀 Feature

docs: add Nuxt Sitemap badge
  README.md
Labels: 📝 documentation

feat: add `Nuxt Sitemap` (#23)
  README.md
  packages/nuxt.config.ts
  packages/package.json
  pnpm-lock.yaml
Labels: 🚀 Feature, 📝 documentation

fix(renovate): fix Nuxt extends in renovate config.
  .github/renovate.json
Labels: 🏠 chore

fix(renovate): fix Nuxt extends in renovate config. (#25)
  .github/renovate.json
Labels: 🏠 chore

.github/labeler.yml:

"🏠 chore":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".vscode/*"

"🚀 Feature":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/**/*"

"📝 documentation":
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "**/*.md"
